# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environment
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# Model checkpoints, large artifacts
checkpoints/
trained_test_results/
test_results/

# Uploaded files / user data
uploads/

# Dataset images (if dataset too large)
humanparsing/JPEGImages/

# Static file caches
static/__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db
